################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
## Ignore Visual Studio and .NET build artifacts

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]emp/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
out/
publish/

# VS Code and Rider settings
.vscode/
.idea/
*.sln.iml

# Visual Studio cache/options directory
.vs/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
coverage.opencover.xml
TestResult.xml

 # Ignore build artifacts
[Bb]in/
[Oo]bj/

# Clean Architecture specific folders
/CareSync.APIs/bin/
/CareSync.APIs/obj/
/CareSync.ApplicationLayer/bin/
/CareSync.ApplicationLayer/obj/
/CareSync.Data/bin/
/CareSync.Data/obj/
/CareSync.UI/bin/
/CareSync.UI/obj/
*.dll
/CareSync.APIs/bin/Debug/net8.0
/CareSync.APIs/bin/Debug/net8.0
/CareSync.APIs/bin/Debug
/CareSync.APIs/bin
/CareSync.UI/obj
/CareSync.APIs/bin/Debug/net8.0
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.dll
*.dll
/CareSync.APIs/bin/Debug/net8.0
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.exe
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.pdb
CareSync.APIs/bin/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.APIs/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.APIs/obj/Debug/net8.0/apphost.exe
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.AssemblyInfo.cs
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.AssemblyInfoInputs.cache
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.csproj.AssemblyReference.cache
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.pdb
CareSync.APIs/obj/Debug/net8.0/ref/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/refint/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
CareSync.APIs/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.AssemblyInfo.cs
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.AssemblyInfoInputs.cache
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.csproj.AssemblyReference.cache
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.ApplicationLayer/obj/Debug/net8.0/ref/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/obj/Debug/net8.0/refint/CareSync.ApplicationLayer.dll
CareSync.Data/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.Data/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.AssemblyInfo.cs
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.AssemblyInfoInputs.cache
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.dll
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.Data/obj/Debug/net8.0/ref/CareSync.DataLayer.dll
CareSync.Data/obj/Debug/net8.0/refint/CareSync.DataLayer.dll
CareSync.UI/bin/Debug/net8.0/CareSync.dll
CareSync.UI/bin/Debug/net8.0/CareSync.exe
CareSync.UI/bin/Debug/net8.0/CareSync.pdb
CareSync.UI/bin/Debug/net8.0/CareSync.staticwebassets.endpoints.json
CareSync.UI/obj/Debug/net8.0/apphost.exe
CareSync.UI/obj/Debug/net8.0/CareSync.AssemblyInfo.cs
CareSync.UI/obj/Debug/net8.0/CareSync.AssemblyInfoInputs.cache
CareSync.UI/obj/Debug/net8.0/CareSync.dll
CareSync.UI/obj/Debug/net8.0/CareSync.pdb
CareSync.UI/obj/Debug/net8.0/ref/CareSync.dll
CareSync.UI/obj/Debug/net8.0/refint/CareSync.dll
CareSync.UI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
CareSync.UI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.json.cache
*.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.exe
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.pdb
CareSync.APIs/bin/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.APIs/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.APIs/obj/Debug/net8.0/apphost.exe
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.AssemblyInfo.cs
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.AssemblyInfoInputs.cache
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.csproj.AssemblyReference.cache
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.pdb
CareSync.APIs/obj/Debug/net8.0/ref/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/refint/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
CareSync.APIs/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.AssemblyInfo.cs
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.AssemblyInfoInputs.cache
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.csproj.AssemblyReference.cache
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.ApplicationLayer/obj/Debug/net8.0/ref/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/obj/Debug/net8.0/refint/CareSync.ApplicationLayer.dll
CareSync.Data/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.Data/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.AssemblyInfo.cs
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.AssemblyInfoInputs.cache
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.dll
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.Data/obj/Debug/net8.0/ref/CareSync.DataLayer.dll
CareSync.Data/obj/Debug/net8.0/refint/CareSync.DataLayer.dll
CareSync.UI/bin/Debug/net8.0/CareSync.dll
CareSync.UI/bin/Debug/net8.0/CareSync.exe
CareSync.UI/bin/Debug/net8.0/CareSync.pdb
CareSync.UI/bin/Debug/net8.0/CareSync.staticwebassets.endpoints.json
CareSync.UI/obj/Debug/net8.0/apphost.exe
CareSync.UI/obj/Debug/net8.0/CareSync.AssemblyInfo.cs
CareSync.UI/obj/Debug/net8.0/CareSync.AssemblyInfoInputs.cache
CareSync.UI/obj/Debug/net8.0/CareSync.dll
CareSync.UI/obj/Debug/net8.0/CareSync.pdb
CareSync.UI/obj/Debug/net8.0/ref/CareSync.dll
CareSync.UI/obj/Debug/net8.0/refint/CareSync.dll
CareSync.UI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
CareSync.UI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.json.cache
*.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.exe
CareSync.APIs/bin/Debug/net8.0/CareSync.APIs.pdb
CareSync.APIs/bin/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.APIs/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.APIs/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.APIs/obj/Debug/net8.0/apphost.exe
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.AssemblyInfo.cs
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.AssemblyInfoInputs.cache
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.csproj.AssemblyReference.cache
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/CareSync.APIs.pdb
CareSync.APIs/obj/Debug/net8.0/ref/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/refint/CareSync.APIs.dll
CareSync.APIs/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
CareSync.APIs/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.ApplicationLayer/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.AssemblyInfo.cs
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.AssemblyInfoInputs.cache
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.csproj.AssemblyReference.cache
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/obj/Debug/net8.0/CareSync.ApplicationLayer.pdb
CareSync.ApplicationLayer/obj/Debug/net8.0/ref/CareSync.ApplicationLayer.dll
CareSync.ApplicationLayer/obj/Debug/net8.0/refint/CareSync.ApplicationLayer.dll
CareSync.Data/bin/Debug/net8.0/CareSync.DataLayer.dll
CareSync.Data/bin/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.AssemblyInfo.cs
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.AssemblyInfoInputs.cache
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.dll
CareSync.Data/obj/Debug/net8.0/CareSync.DataLayer.pdb
CareSync.Data/obj/Debug/net8.0/ref/CareSync.DataLayer.dll
CareSync.Data/obj/Debug/net8.0/refint/CareSync.DataLayer.dll
CareSync.UI/bin/Debug/net8.0/CareSync.dll
CareSync.UI/bin/Debug/net8.0/CareSync.exe
CareSync.UI/bin/Debug/net8.0/CareSync.pdb
CareSync.UI/bin/Debug/net8.0/CareSync.staticwebassets.endpoints.json
CareSync.UI/obj/Debug/net8.0/apphost.exe
CareSync.UI/obj/Debug/net8.0/CareSync.AssemblyInfo.cs
CareSync.UI/obj/Debug/net8.0/CareSync.AssemblyInfoInputs.cache
CareSync.UI/obj/Debug/net8.0/CareSync.dll
CareSync.UI/obj/Debug/net8.0/CareSync.pdb
CareSync.UI/obj/Debug/net8.0/ref/CareSync.dll
CareSync.UI/obj/Debug/net8.0/refint/CareSync.dll
CareSync.UI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
CareSync.UI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.json
CareSync.UI/obj/Debug/net8.0/staticwebassets.build.json.cache
/CareSync.APIs/obj
/CareSync.UI/obj
/CareSync.UI/bin
/CareSync.ApplicationLayer/obj
/CareSync.ApplicationLayer/obj
