## Ignore user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
**/bin/
**/obj/
**/Debug/
**/Release/
**/publish/
**/out/
**/logs/

## VS cache
.vs/

## VS Code
.vscode/
.idea/

## Other
*.dll
*.exe
*.pdb
*.cache
*.log