<!-- Sidebar wrapper starts -->
<nav id="sidebar" class="sidebar-wrapper">

  <!-- Brand container starts -->
  <div class="brand-container d-flex align-items-center justify-content-between">

    <!-- App brand starts -->
    <div class="app-brand ms-3">
      <a href="~/Dashboard">
        <img src="~/ApolloTheme/assets/images/logo.svg" class="logo" alt="CareSync">
      </a>
    </div>
    <!-- App brand ends -->

    <!-- Pin sidebar starts -->
    <button type="button" class="pin-sidebar me-3">
      <i class="ri-menu-line"></i>
    </button>
    <!-- Pin sidebar ends -->

  </div>
  <!-- Brand container ends -->

  <!-- Sidebar profile starts -->
  <div class="sidebar-profile">
    <img src="~/ApolloTheme/assets/images/doctor6.png" class="rounded-5" alt="CareSync">
    <h6 class="mb-1 profile-name text-nowrap text-truncate text-primary">Ema Wilson</h6>
    <small class="profile-name text-nowrap text-truncate">Department Admin</small>
  </div>
  <!-- Sidebar profile ends -->

  <!-- Sidebar menu starts -->
  <div class="sidebarMenuScroll">
    <ul class="sidebar-menu">
      <li>
        <a href="~/Dashboard">
          <i class="ri-home-6-line"></i>
          <span class="menu-text">Hospital Admin</span>
        </a>
      </li>
      <li>
        <a href="~/Dashboard/Medical">
          <i class="ri-home-smile-2-line"></i>
          <span class="menu-text">Medical Dashboard</span>
        </a>
      </li>
      <li>
        <a href="~/Dashboard/Clinic">
          <i class="ri-home-5-line"></i>
          <span class="menu-text">Clinic Dashboard</span>
        </a>
      </li>
      <li>
        <a href="~/Appointments">
          <i class="ri-calendar-2-line"></i>
          <span class="menu-text">Appointments</span>
        </a>
      </li>
      <li>
        <a href="~/Patients">
          <i class="ri-empathize-line"></i>
          <span class="menu-text">My Patients</span>
        </a>
      </li>
      <li>
        <a href="~/Patients/Profile">
          <i class="ri-empathize-line"></i>
          <span class="menu-text">Patient Profile</span>
        </a>
      </li>
      <li>
        <a href="~/Doctors/Dashboard">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Doctors Dashboard</span>
        </a>
      </li>
      <li>
        <a href="~/Doctors">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Doctors Grid</span>
        </a>
      </li>
      <li>
        <a href="~/Doctors/Cards">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Doctors Cards</span>
        </a>
      </li>
      <li>
        <a href="~/Doctors/Profile">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Doctors Profile</span>
        </a>
      </li>
      <li>
        <a href="~/Doctors/Add">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Add Doctor</span>
        </a>
      </li>
      <li>
        <a href="~/Doctors/Edit">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Edit Doctor</span>
        </a>
      </li>
      <li class="active current-page">
        <a href="~/Patient/Dashboard">
          <i class="ri-heart-pulse-line"></i>
          <span class="menu-text">Patients Dashboard</span>
        </a>
      </li>
      <li>
        <a href="~/Patients/List">
          <i class="ri-heart-pulse-line"></i>
          <span class="menu-text">Patients List</span>
        </a>
      </li>
      <li>
        <a href="~/Patients/Add">
          <i class="ri-heart-pulse-line"></i>
          <span class="menu-text">Add Patient</span>
        </a>
      </li>
      <li>
        <a href="~/Patients/Edit">
          <i class="ri-heart-pulse-line"></i>
          <span class="menu-text">Edit Patient Details</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-nurse-line"></i>
          <span class="menu-text">Staff</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Staff">Staff List</a>
          </li>
          <li>
            <a href="~/Staff/Add">Add Staff</a>
          </li>
          <li>
            <a href="~/Staff/Edit">Edit Staff Details</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-dossier-line"></i>
          <span class="menu-text">Appointments</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Appointments">Appointments</a>
          </li>
          <li>
            <a href="~/Appointments/List">Appointments List</a>
          </li>
          <li>
            <a href="~/Appointments/Book">Book Appointment</a>
          </li>
          <li>
            <a href="~/Appointments/Success">Appointment Success</a>
          </li>
          <li>
            <a href="~/Appointments/Edit">Edit Appointment</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-building-2-line"></i>
          <span class="menu-text">Departments</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Departments">Departments List</a>
          </li>
          <li>
            <a href="~/Departments/Add">Add Department</a>
          </li>
          <li>
            <a href="~/Departments/Edit">Edit Department</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-secure-payment-line"></i>
          <span class="menu-text">Accounts</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Accounts/Income">Income</a>
          </li>
          <li>
            <a href="~/Accounts/Payments">Payments</a>
          </li>
          <li>
            <a href="~/Accounts/Invoices">Invoices</a>
          </li>
          <li>
            <a href="~/Accounts/InvoiceDetails">Invoice Details</a>
          </li>
          <li>
            <a href="~/Accounts/CreateInvoice">Create Invoice</a>
          </li>
          <li>
            <a href="~/Accounts/Expenses">Expenses</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-group-2-line"></i>
          <span class="menu-text">Human Resources</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/HR/Approvals">HR Approvals</a>
          </li>
          <li>
            <a href="~/HR/Attendance">Attendance</a>
          </li>
          <li>
            <a href="~/HR/Leaves">Staff Leaves</a>
          </li>
          <li>
            <a href="~/HR/Holidays">Holidays</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-money-dollar-circle-line"></i>
          <span class="menu-text">Salaries</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Salaries">Salary List</a>
          </li>
          <li>
            <a href="~/Salaries/Payslip">Payslip</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-hotel-bed-line"></i>
          <span class="menu-text">Rooms</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Rooms/Statistics">Statistics</a>
          </li>
          <li>
            <a href="~/Rooms/Allotted">Rooms Allotted</a>
          </li>
          <li>
            <a href="~/Rooms/ByDepartment">Rooms By Department</a>
          </li>
          <li>
            <a href="~/Rooms/Available">Available Rooms</a>
          </li>
          <li>
            <a href="~/Rooms/Book">Book Room</a>
          </li>
          <li>
            <a href="~/Rooms/Add">Add Room</a>
          </li>
          <li>
            <a href="~/Rooms/Edit">Edit Room</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-car-washing-line"></i>
          <span class="menu-text">Ambulance</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="~/Ambulance">Ambulance List</a>
          </li>
          <li>
            <a href="~/Ambulance/Add">Add Ambulance</a>
          </li>
          <li>
            <a href="~/Ambulance/Edit">Edit Ambulance</a>
          </li>
          <li>
            <a href="~/Ambulance/Calls">Ambulance Call List</a>
          </li>
          <li>
            <a href="~/Drivers/Add">Add Driver</a>
          </li>
          <li>
            <a href="~/Drivers/Edit">Edit Driver</a>
          </li>
          <li>
            <a href="~/Drivers">Driver List</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="~/Events">
          <i class="ri-calendar-line"></i>
          <span class="menu-text">Event Management</span>
        </a>
      </li>
      <li>
        <a href="~/Gallery">
          <i class="ri-tent-line"></i>
          <span class="menu-text">Gallery</span>
        </a>
      </li>
      <li>
        <a href="~/News">
          <i class="ri-news-line"></i>
          <span class="menu-text">News & Updates</span>
        </a>
      </li>
      <li>
        <a href="~/Settings">
          <i class="ri-settings-5-line"></i>
          <span class="menu-text">Account Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Sidebar menu ends -->

  <!-- Sidebar contact starts -->
  <div class="sidebar-contact">
    <p class="fw-light mb-1 text-nowrap text-truncate">Emergency Contact</p>
    <h5 class="m-0 lh-1 text-nowrap text-truncate">0987654321</h5>
    <i class="ri-phone-line"></i>
  </div>
  <!-- Sidebar contact ends -->

</nav>
<!-- Sidebar wrapper ends -->
