@page "/Admin/RoleRights"
@model CareSync.Pages.Admin.RoleRightsModel
@{
    ViewData["Title"] = "Role Rights Mapping";
    ViewData["Breadcrumbs"] = new List<(string Name, string Url)>
    {
        ("Admin", "/Admin")
    };
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Role Rights Matrix</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Permission / Role</th>
                                <th class="text-center">Admin</th>
                                <th class="text-center">Doctor</th>
                                <th class="text-center">Patient</th>
                                <th class="text-center">Lab Technician</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- User Management Rights -->
                            <tr class="table-secondary">
                                <td colspan="5"><strong>User Management</strong></td>
                            </tr>
                            <tr>
                                <td>Can View Users</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_users">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Create Users</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_create_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_create_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_create_users">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Edit Users</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_edit_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_edit_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_edit_users">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Delete Users</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_delete_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_delete_users">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_delete_users">
                                </td>
                            </tr>

                            <!-- Patient Management Rights -->
                            <tr class="table-secondary">
                                <td colspan="5"><strong>Patient Management</strong></td>
                            </tr>
                            <tr>
                                <td>Can View All Patients</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_patients" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_patients">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_patients" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>Can View Own Records</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_own" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_own" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_own" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>Can Edit Patient Records</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_edit_patients" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_edit_patients">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_edit_patients">
                                </td>
                            </tr>
                            <tr>
                                <td>Can View Medical History</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_history" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_history" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_history">
                                </td>
                            </tr>

                            <!-- Appointment Management Rights -->
                            <tr class="table-secondary">
                                <td colspan="5"><strong>Appointment Management</strong></td>
                            </tr>
                            <tr>
                                <td>Can View All Appointments</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_appointments" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_appointments">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_appointments">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Create Appointments</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_create_appointments" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_create_appointments" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_create_appointments">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Cancel Appointments</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_cancel_appointments" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_cancel_appointments" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_cancel_appointments">
                                </td>
                            </tr>

                            <!-- Prescription Management Rights -->
                            <tr class="table-secondary">
                                <td colspan="5"><strong>Prescription Management</strong></td>
                            </tr>
                            <tr>
                                <td>Can Create Prescriptions</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_create_prescriptions" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_create_prescriptions">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_create_prescriptions">
                                </td>
                            </tr>
                            <tr>
                                <td>Can View Prescriptions</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_prescriptions" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_prescriptions" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_prescriptions">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Edit Prescriptions</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_edit_prescriptions" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_edit_prescriptions">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_edit_prescriptions">
                                </td>
                            </tr>

                            <!-- Lab Management Rights -->
                            <tr class="table-secondary">
                                <td colspan="5"><strong>Laboratory Management</strong></td>
                            </tr>
                            <tr>
                                <td>Can Manage Lab Requests</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_manage_lab_requests" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_manage_lab_requests">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_manage_lab_requests" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>Can Generate Lab Reports</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_generate_reports">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_generate_reports">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_generate_reports" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>Can View Lab Reports</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_lab_reports" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_lab_reports" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_lab_reports" checked>
                                </td>
                            </tr>

                            <!-- System Administration Rights -->
                            <tr class="table-secondary">
                                <td colspan="5"><strong>System Administration</strong></td>
                            </tr>
                            <tr>
                                <td>Can Access Admin Panel</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_admin_panel">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_admin_panel">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_admin_panel">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Manage Roles</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_manage_roles">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_manage_roles">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_manage_roles">
                                </td>
                            </tr>
                            <tr>
                                <td>Can View System Logs</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_view_logs">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_view_logs">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_view_logs">
                                </td>
                            </tr>
                            <tr>
                                <td>Can Export Data</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" checked disabled>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="doctor_export_data" checked>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="patient_export_data">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" name="lab_export_data" checked>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add Custom Permission</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Permission Name</label>
                        <input type="text" class="form-control" name="PermissionName" placeholder="e.g., Can View Reports" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Permission Category</label>
                        <select class="form-select" name="PermissionCategory">
                            <option value="">Select Category</option>
                            <option value="UserManagement">User Management</option>
                            <option value="PatientManagement">Patient Management</option>
                            <option value="AppointmentManagement">Appointment Management</option>
                            <option value="PrescriptionManagement">Prescription Management</option>
                            <option value="LabManagement">Laboratory Management</option>
                            <option value="SystemAdministration">System Administration</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="Description" rows="3" placeholder="Describe what this permission allows"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Assign to Roles</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="AssignRoles" value="Admin" id="assignAdmin">
                            <label class="form-check-label" for="assignAdmin">Admin</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="AssignRoles" value="Doctor" id="assignDoctor">
                            <label class="form-check-label" for="assignDoctor">Doctor</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="AssignRoles" value="Patient" id="assignPatient">
                            <label class="form-check-label" for="assignPatient">Patient</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="AssignRoles" value="Lab" id="assignLab">
                            <label class="form-check-label" for="assignLab">Lab Technician</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Permission Summary</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="text-primary">Admin (Full Access)</h6>
                    <small class="text-muted">All permissions enabled by default</small>
                </div>
                <div class="mb-3">
                    <h6 class="text-info">Doctor Permissions</h6>
                    <ul class="list-unstyled small">
                        <li>✓ View/Edit Patients</li>
                        <li>✓ Manage Appointments</li>
                        <li>✓ Create/Edit Prescriptions</li>
                        <li>✓ Request Lab Tests</li>
                        <li>✓ View Lab Reports</li>
                        <li>✓ Export Patient Data</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <h6 class="text-success">Patient Permissions</h6>
                    <ul class="list-unstyled small">
                        <li>✓ View Own Records</li>
                        <li>✓ View Medical History</li>
                        <li>✓ Book/Cancel Appointments</li>
                        <li>✓ View Prescriptions</li>
                        <li>✓ View Lab Reports</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <h6 class="text-warning">Lab Technician Permissions</h6>
                    <ul class="list-unstyled small">
                        <li>✓ View Patient Info</li>
                        <li>✓ Manage Lab Requests</li>
                        <li>✓ Generate Lab Reports</li>
                        <li>✓ View Lab Reports</li>
                        <li>✓ Export Lab Data</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageActions {
    <button type="button" class="btn btn-primary">Save Permissions</button>
    <button type="button" class="btn btn-success">Add Permission</button>
    <button type="button" class="btn btn-outline-secondary">Reset to Default</button>
    <button type="button" class="btn btn-outline-info">Export Matrix</button>
}
